@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";
 @import "tailwindcss";
 @plugin "daisyui" {

  themes: dark --default;
 }
@theme{
    --font-logo: "Orbitron", sans-serif;
    --font-primary :"Lexend", sans-serif;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
 
  
}